.btn{
    padding: 10px;
    background-color: rgba(10, 228, 228, 0.938);
    border-radius: 5px;
    color: black;
    border: none;
    font-weight: 500;

}


.btn:hover{
    background-color:rgba(6, 216, 216, 0.938) ;
}